<%- model_class = Company -%>
<div class="page-header">
  <h1><%=t '.title', :default => Company %></h1>
  <% current_user.admin? do %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_company_path,
            :class => 'btn btn-primary' %>
  <% end %>
</div>
 <div class="jumbotron" style="background:white;">
   <%= grid(@company_grid) do |g|

    g.column name: 'Company Name', attribute: 'company_name' do |company|
          link_to(company.company_name, edit_company_path(company))
    end

    g.column name: 'Department', attribute: 'department'

    g.column name: 'Company City', attribute: 'shipping_city'

    g.column name: 'Added on', attribute: 'created_at'

   end -%>
  </div> 